@import "../variables/variables";

@mixin column_flex-center{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin row_flex_space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin font_normal_Monserrat{
  font-family: $font-family__Monserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}


@mixin font_bold_Monserrat {
  font-family: $font-family__Monserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
}
@mixin font_normal_Lato{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

@mixin background_picture {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}