@import "../variables/variables";
@mixin column_flex-center{
  display: flex;
  flex-direction: column;
  align-items: center;
}
@mixin font_normal_Monserrat{
  font-family: $font-family__Monserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;

}
@mixin font_normal_Lato{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}