/*
@mixin parallax {
    background-attachment: fixed;
    }*/
.header {
  background-color: rgb(39, 38, 42);
}
.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 31px 15px;
}

.buy-btn {
  width: 119px;
  height: 37px;
  background-color: #8D81AC;
  border-radius: 40px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  color: white;
  text-align: center;
  transition: 0.2s all ease-in-out;
}
.buy-btn:hover {
  background-color: white;
  color: #8D81AC;
  cursor: pointer;
}

.header-logo__picture {
  width: 43px;
  height: 41px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/design/header_logo.png);
  transition: 0.3s all ease-in-out;
  margin-right: 17px;
}
.header-logo:hover .header-logo__picture {
  background-image: url(../img/design/header_logo_hover.png);
}

.header-navbar {
  height: 23px;
  width: 35px;
}

.navbar-icon {
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
  z-index: 0;
}
.navbar-icon__line {
  background-color: white;
  width: 26px;
  margin-bottom: 6px;
  height: 3px;
  border-radius: 2px;
  transition: 0.2s all ease-in-out;
}
.navbar-icon__line--short {
  width: 15px;
  position: relative;
  right: -11px;
  top: 0;
}

/*==============================================================*/
/*CHANGE icon must be fixed!*/
.change .navbar-icon__line:first-child {
  opacity: 0;
}

.change .navbar-icon__line:nth-child(2) {
  transform: translate(0, 4px) rotate(-45deg);
  border-radius: 0;
  height: 2px;
  width: 35px;
}

.change .navbar-icon__line:last-child {
  transform: translate(0, -4px) rotate(45deg);
  border-radius: 0;
  height: 2px;
  width: 35px;
}

/*==============================================================*/
.navbar-list {
  position: absolute;
  top: 103px;
  right: 15px;
  width: 293px;
  bottom: 100%;
  height: 0;
  overflow: hidden;
  background-color: #333333;
  transition: 0.2s all ease-in-out;
  z-index: 1;
}
.navbar-list.active {
  bottom: 0;
  height: 378px;
}
.navbar-list__item {
  height: 89px;
  box-shadow: 0 -2px 0 0 #3B3B3B, 0 3px 0 0 #3B3B3B;
  text-align: left;
}
.navbar-list__link {
  position: relative;
  color: white;
  display: inline-block;
  padding: 29px 0 0 40px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  font-size: 26px;
  line-height: 26px;
}
.navbar-list__link::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 2px;
  border-left: 8px solid #8D81AC;
  z-index: 5;
  height: 0;
  transition: 0.2s all ease-in-out;
}
.navbar-list__link:focus {
  color: #8D81AC;
}
.navbar-list__link:focus::after {
  height: 53px;
}

.hero-section {
  padding: 49px 0 410px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/design/header_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero-section__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  margin-bottom: 19px;
  color: white;
}
.hero-section__text-info {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  font-size: 18px;
  line-height: 24px;
  color: #8D81AC;
  text-align: center;
  margin-bottom: 14px;
}
.hero-section__text-devices {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #848E97;
  text-transform: uppercase;
}

/*============================================================================*/
/*MEDIA*/
/*============================================================================*/
@media screen and (min-width: 481px) and (max-width: 992px) {
  .header-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header-logo__text {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;
    text-transform: uppercase;
    color: #8D81AC;
    transition: 0.2s all ease-in-out;
  }
  .header-logo:hover .header-logo__text {
    color: white;
  }
  .header__nav {
    padding: 22px 20px 56px 20px;
  }
  .header-navbar {
    display: none;
  }
  .buy-btn {
    width: 145px;
    height: 38px;
  }
  .navbar-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s all ease-in-out;
    background-color: rgb(39, 38, 42);
    right: 124px;
    bottom: unset;
    height: 21px;
    width: 68%;
    overflow: initial;
    top: 80px;
  }
  .navbar-list__item {
    text-align: center;
    height: unset;
    box-shadow: none;
  }
  .navbar-list__link {
    color: #8D81AC;
    display: inline-block;
    padding: 0 5px 0 0;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
  }
  .navbar-list__link:hover {
    color: white;
  }
  .navbar-list__link:focus::after {
    display: none;
  }
  .hero-section {
    padding: 69px 0 472px 0;
  }
  .hero-section__title {
    font-size: 72px;
    line-height: 72px;
  }
  .hero-section__text-info {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 19px;
  }
}
@media screen and (min-width: 993px) {
  .header-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header-logo__text {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;
    text-transform: uppercase;
    color: #8D81AC;
    transition: 0.2s all ease-in-out;
  }
  .header-logo:hover .header-logo__text {
    color: white;
  }
  .header {
    background: #010005;
  }
  .header__nav {
    padding: 30px 90px 30px 90px;
  }
  .header-navbar {
    display: none;
  }
  .header__btn {
    position: relative;
  }
  .buy-btn {
    width: 145px;
    height: 38px;
  }
  .navbar-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    background-color: transparent;
    right: 284px;
    bottom: unset;
    height: 21px;
    width: 44%;
    overflow: initial;
    top: 37px;
  }
  .navbar-list__item {
    text-align: center;
    height: unset;
    box-shadow: none;
  }
  .navbar-list__link {
    color: #8D81AC;
    display: inline-block;
    padding: 0 5px 0 0;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
  }
  .navbar-list__link:hover {
    color: white;
  }
  .navbar-list__link:focus::after {
    display: none;
  }
  .hero-section {
    padding: 83px 0 424px 0;
  }
  .hero-section__title {
    font-size: 82px;
    line-height: 82px;
  }
  .hero-section__text-info {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 19px;
  }
  .hero-section__text-devices {
    font-size: 16px;
    line-height: 16px;
  }
}
@media screen and (min-width: 1201px) {
  .navbar-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: transparent;
    right: -85px;
    bottom: unset;
    height: 21px;
    width: 44%;
    overflow: initial;
    top: -4px;
  }
  .navbar-list__item {
    text-align: center;
    height: unset;
    box-shadow: none;
  }
  .navbar-list__link {
    color: #8D81AC;
    display: inline-block;
    padding: 0 5px 0 0;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
  }
  .navbar-list__link:hover {
    color: white;
  }
  .navbar-list__link:focus::after {
    display: none;
  }
}
/*
@mixin parallax {
    background-attachment: fixed;
    }*/
.presentText {
  display: flex;
}

.presentText__elements {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.presentText__button {
  width: 100%;
  display: flex;
  justify-content: center;
}

.button--download {
  background: #8D81AC;
  border-radius: 40px;
  position: absolute;
  width: 290px;
  height: 45px;
  border: 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}
.button--download:hover {
  background: #FFFFFF;
  border: 2px solid #8D81AC;
  color: #8D81AC;
}

.button__description {
  padding-top: 58px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #848E97;
}

.present__description {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding-top: 27px;
  text-align: center;
  color: #323232;
  width: 276px;
}

.present__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #635C73;
}

.present__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 79px;
  padding-bottom: 36px;
}

.github_buttons {
  width: 251px;
  height: 80px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
}

@media screen and (min-width: 768px) {
  .button--download {
    width: 390px;
    height: 62px;
  }
  .button__description {
    padding-top: 81px;
  }
  .present__title {
    font-size: 42px;
  }
  .present__description {
    padding-top: 35px;
    width: 689px;
    font-size: 21px;
  }
  .github_buttons {
    width: 365px;
  }
}
@media screen and (min-width: 992px) {
  .present__title {
    font-size: 52px;
  }
  .present__description {
    width: 861px;
    font-size: 21px;
  }
}
* {
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/ /*in reset.css*/
}

html {
  scroll-behavior: smooth;
}

a {
  transition: 0.2s all ease-in-out;
}

.container {
  width: 100%;
  max-width: 1200px;
  min-width: 320px;
  padding: 0 5px;
  margin: 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .container {
    min-width: 320px;
    max-width: 480px;
  }
}
@media screen and (min-width: 481px) and (max-width: 992px) {
  .container {
    min-width: 481px;
    max-width: 992px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1200px) {
  .container {
    min-width: 993px;
  }
}

/*# sourceMappingURL=style.css.map */
