$color--lightViolet: #8D81AC;
$color--darkViolet: #635C73;
$color--grey: #848E97;
$color--navbarbackground: #333333;
$color--white:#FFFFFF;
$color--darkText:#323232;
$font-family__Monserrat: 'Montserrat';
$transition: 0.2s all ease-in-out;