@import "../mixin/mixins";
.presentText{
  display: flex;
}
.presentText__elements{
  @include column_flex-center;
}
.presentText__button{
  width: 100%;
  display: flex;
  justify-content: center;
}
.button--download{
  background: #8D81AC;
  border-radius: 40px;
  position: absolute;
  width: 290px;
  height: 45px;
  border: 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}
.button__description{
  padding-top: 58px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;

  color: #848E97;
}
.present__description{
  padding-top: 27px;
  text-align: center;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #323232;
  width: 276px;
}
.present__title{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #635C73;

}
.present__text{
  @include column_flex-center;
  padding-top: 79px;
  padding-bottom: 36px;
}
.github_buttons{
  display: flex;
  & a{
    text-decoration: none;
    font-weight: 700;
    font-family: 'Montserrat';
  }
}
.btn{
  color: #24292f;
  background-color: #ecebeb;
  border: 1px solid #1b1f2426;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  display: flex;
  align-items: center;

  white-space: nowrap;
  vertical-align: middle;
  height: 26px;

}

.btn-add, .btn-sm {
  padding: 3px 12px;
  line-height: 20px;
}
.btn-add {
  margin-right: 10px;
  color: black;
  font-weight: 700;
  border-left: hidden;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  height: 26px;
  border-width: thin;
  display: flex;
  align-items: center;
  flex-direction: column;

  &::after {
    display: table;
    clear: both;
    content: "";
  }
}
  .octicon{
    padding-right: 3px;
  }

@media screen and (min-width: 768px){
  .button--download{
    width: 390px;
    height: 62px;
  }
  .button__description{
    padding-top: 81px;
  }
  .present__title{
    font-size: 42px;
  }
  .present__description{
    padding-top: 33px;
    width: 689px;
    font-size: 21px;
  }
}
@media screen and (min-width: 1200px){
  .present__title{
    font-size: 52px;
  }
  .present__description{
    width: 861px;
    font-size: 21px;
  }
}