@import "../mixin/mixins";
@import "../variables/variables";
.presentText{
  display: flex;
}
.presentText__elements{
  @include column_flex-center;
}
.presentText__button{
  width: 100%;
  display: flex;
  justify-content: center;
}
.button--download{
  background: $color--lightViolet;
  border-radius: 40px;
  position: absolute;
  width: 290px;
  height: 45px;
  border: 0;
  font-family: $font-family__Monserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: $color--white;
  &:hover{
    background: #FFFFFF;
    border: 2px solid #8D81AC;
    color: #8D81AC;
  }
}
.button__description{
  padding-top: 58px;
 @include font_normal_Monserrat;
  text-align: center;

  color: #848E97;
}
.present__description{
  @include font_normal_Lato;
  padding-top: 27px;
  text-align: center;
  color: $color--darkText;
  width: 276px;
}
.present__title{
  font-family: $font-family__Monserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  text-align: center;
  text-transform: uppercase;
  color:$color--darkViolet;

}
.present__text{
  @include column_flex-center;
  padding-top: 79px;
  padding-bottom: 36px;
}
.github_buttons {
  width: 250px;
  height: 80px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
}

@media screen and (min-width: 481px) and (max-width: 992px) {
  .button--download{
    width: 390px;
    height: 62px;
  }
  .button__description{
    padding-top: 81px;
  }

  .present__title{
    font-size: 42px;
  }
  .present__description{
    padding-top: 35px;
    width: 100%;
    font-size: 21px;
  }
  .github_buttons{
    width: 365px;
  }
}
@media screen and (min-width: 992px){
  .button--download{
    width: 390px;
    height: 62px;
  }
  .button__description{
    padding-top: 81px;
  }
  .present__title{
    font-size: 52px;
  }
  .present__description{
    width: 861px;
    font-size: 21px;
  }
  .github_buttons {
    width: 365px;
    max-width: 36%;
  }
}