@import "../mixin/mixins";
@import "../variables/variables";

.pricing{
  background: url("@img/layerPrice.jpg");
 @include background_picture;
}

.pricing__title{
@include font_bold_Monserrat;
  color:$color--white;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
}
.price__items{
  @include column_flex-center;
  padding-top: 14px;
  padding-bottom: 10px;
}
.price__item{
  padding-top: 18px;
}
.category{
  @include font_normal_Monserrat;
  font-size: 24px;
  text-transform: uppercase;
  background: $category--colorDefaultHead;
  mix-blend-mode: normal;
  height: 97px;
  color: $color--white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.agency{
  background: $category--colorChosenHead;
  height: 111px;
}
.price--third{
  width: 299px;
  height: 560px;
}
.price--fourth{
  padding-top: 35px;
}
.price--category{
  background: $category--colorDefaultBody;
  mix-blend-mode: normal;
  height: 360px;
  width: 257px;
@include column_flex-center;
  padding-top: 30px;
  & p{
    color:$color--white;

  }
}
.agency--dark{
  background: $category--colorChosenBody;
  width: 299px;
  height: 449px;
}
.dollar{
  @include font_normal_Monserrat;
  font-size: 60px;
}
.price--29{
  @include font_bold_Monserrat;
  font-size: 60px;
  text-transform: uppercase;
}
.month{
  @include font_normal_Monserrat;
  padding-top: 8px;
  text-transform: uppercase;
  &::after{
    top: 38px;
    width: 60px;
    content: '';
    position: relative;
    outline: 3px solid $color--lightViolet;
    display: block;
    margin: auto;
    background: transparent;
  }

}
.license{
  @include font_normal_Monserrat;
  font-size: 16px;
  padding-top: 73px;
  text-align: center;
}
.email{
  padding-top: 10px;
}

.btn__purchase{
  padding-top: 37px;
}
.btn__prices{
  background: $category--colorButtonDefault;
  width: 163px;
  height: 45px;
  border-radius: 30px;
  border-color: transparent;
  @include font_normal_Monserrat;
  font-size: 15px;text-transform: uppercase;

}
.agency__btn{
  background: $category--colorButtonChosen;
  width: 190px;
  height: 52px;
}
.agency--purchase{
  padding-top: 83px;
}